# Configuration de la Base de Données
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# URL utilisée par SQLAlchemy 
DATABASE_URL=

# User API 
USERNAME=

# Token API 
APIKEY=

# RapidApi DataExercice 
EXERCISE_DB_API_KEY=