# Configuration du Logging (Loguru)
# Niveau de log : DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_LEVEL=INFO
# Répertoire où stocker les fichiers de logs. Sera créé automatiquement s'il n'existe pas
LOG_DIR=./logs
# Les fichiers de logs seront nommés : {LOG_FILE}.YYYY-MM-DD.log
LOG_FILE=healthai_etl
# Nombre de jours d'historique à conserver (ancien logs seront supprimés)
LOG_RETENTION_DAYS=30

# Configuration de la Base de Données
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# URL utilisée par SQLAlchemy 
DATABASE_URL=

# Chemin du dossier data
DATA_DIR=data

# User API 
USERNAME=

# Token API 
APIKEY=

# RapidApi DataExercice 
EXERCISE_DB_API_KEY=